* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FCF8E8;
  }
  
main {
    width: 90%;
    margin: 32px auto;
  }
  
movie-list {
    display: block;
    margin-top: 32px;
    width: 100%;
    padding: 16px;
  }
  